
<% if show(image) %>


<% if @size =="large" %>

<%= image_tag image.image.url(:large) %><br><br>


<% if @show == true %>
<% if image.user == current_user %>
<%= link_to "edit", edit_user_image_path(current_user, image) %>
<%= link_to "delete", user_image_path(current_user, image), method: :delete, data: {confirm: "Are you sure, bru?"} %>

<% end %>
<br><br>

<% end %>

<strong>Comments:</strong>

<div id="testimonials" class="container spacer ">
  <h2 class="text-center  wowload fadeInUp">Comments</h2>
  <div class="clearfix">    
    <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
  	<div id="carousel-testimonials" class="carousel slide testimonails  wowload fadeInRight" data-ride="carousel">
    		<div class="carousel-inner"> 
				<%= render image.comments %>
			</div>		
			</div>					
		</div>
	</div>
</div>


<% @comment = image.comments.new %>
<%= render "comments/form" %>


<% else %>
<figure class="effect-oscar  wowload fadeInUp">
        <img src=<%= image.image.url(:medium) %>/>
        <figcaption>
            <h4><%=link_to image.user.username, user_images_path(image.user)%></h4>
            <p><strong>Caption: </strong><%= captionSend(image) %><br>
            <%=link_to "view", user_image_path(image.user, image)%></p>            
        </figcaption>
</figure>
<% end %>






<% end %>